# Contents

## 01 Cleaning air quality data
## 02Â Hanlling the non numerical values in my dataset
## 03 Missing Values

# Import libraries and Files

In [1]:
#Import libraries 
import pandas as pd
import numpy as np
import os

In [2]:
#Turned folder path into string 
path= r'/Users/pamnouboussi/22.06.23 Achiev 6'

In [3]:
#Upload air quality data
air_quality =pd.read_csv(os.path.join(path,'Data', 'Original Data', 'Air_quality.csv'), index_col = False)

## 01 Cleaning air quality data

In [4]:
air_quality.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11962 entries, 0 to 11961
Data columns (total 14 columns):
 #   Column                                  Non-Null Count  Dtype
---  ------                                  --------------  -----
 0   Region                                  11962 non-null  object
 1   iso3                                    11962 non-null  object
 2   Country                                 11962 non-null  object
 3   City/Town                               11962 non-null  object
 4   Year                                    11962 non-null  int64
 5   PM10 Annual mean, ug/m3                 11962 non-null  object
 6   PM10 Temporal coverage                  7645 non-null   object
 7   note on converted PM10                  11962 non-null  object
 8   PM2.5 Annual mean, ug/m3                11962 non-null  object
 9   PM2.5 Temporal coverage                 4508 non-null   object
 10  note on converted PM2.5                 11962 non-null  object
 11  Number and type of monitoring stations  11894 non-null  object
 12  Reference for air quality               11922 non-null  object
 13  Database version (year)                 11962 non-null  int64
dtypes: int64(2), object(12)
memory usage: 1.3+ MB

In [5]:
air_quality.head()

,Region,iso3,Country,City/Town,Year,"PM10 Annual mean, ug/m3",PM10 Temporal coverage,note on converted PM10,"PM2.5 Annual mean, ug/m3",PM2.5 Temporal coverage,note on converted PM2.5,Number and type of monitoring stations,Reference for air quality,Database version (year)
0,Europe (LMIC),ALB,Albania,Korce,2015,45,>75%,Measured,30,>75%,Measured,1 Suburban-Background,The European Environmental Agency (EEA) [downl...,2018
1,Europe (LMIC),ALB,Albania,Korce,2016,40,>75%,Measured,29,>75%,Measured,1 Suburban-Background,The European Environmental Agency (EEA) [downl...,2018
2,Europe (LMIC),ALB,Albania,Tirana,2013,32,NaN,Measured,16,NaN,Measured,"1 station, traffic, urban","European Environment Agency, Air quality e-rep...",2016
3,Europe (LMIC),ALB,Albania,Vlore,2014,15,>75%,Measured,(10)-converted value,NaN,Converted,1 Urban-Background,The European Environmental Agency (EEA) [downl...,2018
4,Europe (LMIC),ALB,Albania,Vlore,2015,19,>75%,Measured,(13)-converted value,NaN,Converted,1 Urban-Background,The European Environmental Agency (EEA) [downl...,2018

In [7]:
#delete columns
air_quality = air_quality.drop(columns=['iso3', 'note on converted PM10','note on converted PM2.5','Reference for air quality','Database version (year)', 'PM10 Temporal coverage','PM2.5 Temporal coverage'], axis=1)

- the columns 'iso3', 'note on converted PM10','note on converted PM2.5','Reference for air quality','Database version (year)' were deleted as they were not nessecary for the analysis

In [8]:
#Results check
air_quality.head()

,Region,Country,City/Town,Year,"PM10 Annual mean, ug/m3","PM2.5 Annual mean, ug/m3",Number and type of monitoring stations
0,Europe (LMIC),Albania,Korce,2015,45,30,1 Suburban-Background
1,Europe (LMIC),Albania,Korce,2016,40,29,1 Suburban-Background
2,Europe (LMIC),Albania,Tirana,2013,32,16,"1 station, traffic, urban"
3,Europe (LMIC),Albania,Vlore,2014,15,(10)-converted value,1 Urban-Background
4,Europe (LMIC),Albania,Vlore,2015,19,(13)-converted value,1 Urban-Background

In [17]:
# rename columns
air_quality = air_quality.rename(columns={'PM10 Annual mean, ug/m3': 'PM10 Annual mean', 'PM2.5 Annual mean, ug/m3': 'PM2.5 Annual mean'})

# Print the updated column names
air_quality.head()

,Region,Country,City/Town,Year,PM10 Annual mean,PM2.5 Annual mean,Number and type of monitoring stations
0,Europe (LMIC),Albania,Korce,2015,45,30,1 Suburban-Background
1,Europe (LMIC),Albania,Korce,2016,40,29,1 Suburban-Background
2,Europe (LMIC),Albania,Tirana,2013,32,16,"1 station, traffic, urban"
3,Europe (LMIC),Albania,Vlore,2014,15,(10)-converted value,1 Urban-Background
4,Europe (LMIC),Albania,Vlore,2015,19,(13)-converted value,1 Urban-Background

## 02Â Hanlling the non numerical values in my dataset

In [24]:
# count the number of non numeric values in each column
non_numeric_pm10 = pd.to_numeric(air_quality['PM10 Annual mean'], errors='coerce').isnull().sum()
non_numeric_pm25 = pd.to_numeric(air_quality['PM2.5 Annual mean'], errors='coerce').isnull().sum()

In [25]:
#count non numeric values
non_numeric_pm10

1887

In [26]:
#count non numeric values in column
non_numeric_pm25

5875

In [27]:
# view the non numerical values in each column
non_numeric_pm10 = air_quality[~pd.to_numeric(air_quality['PM10 Annual mean'], errors='coerce').notnull()]['PM10 Annual mean'].unique()
non_numeric_pm25 = air_quality[~pd.to_numeric(air_quality['PM2.5 Annual mean'], errors='coerce').notnull()]['PM2.5 Annual mean'].unique()

print("Non-numeric values in 'PM10 Annual mean' column:")
print(non_numeric_pm10)

print("\nNon-numeric values in 'PM2.5 Annual mean' column:")
print(non_numeric_pm25)

Non-numeric values in 'PM10 Annual mean' column:
['(20)-converted value' '(18)-converted value' '(17)-converted value'
 '(19)-converted value' '(13)-converted value' '(15)-converted value'
 '(14)-converted value' '(16)-converted value' '(27)-converted value'
 '(21)-converted value' '(25)-converted value' '(24)-converted value'
 '(23)-converted value' '(22)-converted value' '(104)-converted value'
 '(86)-converted value' '(154)-converted value' '(84)-converted value'
 '(106)-converted value' '(26)-converted value' '(30)-converted value'
 '(37)-converted value' '(43)-converted value' '(11)-converted value'
 '(7)-converted value' '(10)-converted value' '(9)-converted value'
 '(12)-converted value' '(8)-converted value' '(6)-converted value'
 '(5)-converted value' '(31)-converted value' '(92)-converted value'
 '(65)-converted value' '(55)-converted value' '(51)-converted value'
 '(32)-converted value' '(34)-converted value' '(147)-converted value'
 '(48)-converted value' '(74)-converted value' '(101)-converted value'
 '(126)-converted value' '(46)-converted value' '(63)-converted value'
 '(216)-converted value' '(42)-converted value' '(90)-converted value'
 '(62)-converted value' '(77)-converted value' '(175)-converted value'
 '(150)-converted value' '(105)-converted value' '(88)-converted value'
 '(33)-converted value' '(81)-converted value' '(115)-converted value'
 '(100)-converted value' '(192)-converted value' '(102)-converted value'
 '(79)-converted value' '(145)-converted value' '(113)-converted value'
 '(94)-converted value' '(137)-converted value' '(98)-converted value'
 '(72)-converted value' '(97)-converted value' '(87)-converted value'
 '(69)-converted value' '(56)-converted value' '(39)-converted value'
 '(158)-converted value' '(70)-converted value' '(78)-converted value'
 '(122)-converted value' '(96)-converted value' '(57)-converted value'
 '(135)-converted value' '(117)-converted value' '(130)-converted value'
 '(120)-converted value' '(83)-converted value' '(82)-converted value'
 '(44)-converted value' '(28)-converted value' '(132)-converted value'
 '(36)-converted value' '(73)-converted value' '(85)-converted value'
 '(186)-converted value' '(139)-converted value' '(109)-converted value'
 '(91)-converted value' '(68)-converted value' '(71)-converted value'
 '(188)-converted value' '(64)-converted value' '(53)-converted value'
 '(75)-converted value' '(35)-converted value' '(4)-converted value'
 '(112)-converted value' '(59)-converted value' '(316)-converted value'
 '(275)-converted value' '(193)-converted value' '(180)-converted value'
 '(199)-converted value' '(319)-converted value' '(95)-converted value'
 '(136)-converted value' '(198)-converted value' '(255)-converted value'
 '(221)-converted value' '(266)-converted value' '(38)-converted value'
 '(129)-converted value' '(49)-converted value' '(61)-converted value'
 '(47)-converted value' '(60)-converted value' '(45)-converted value'
 '(67)-converted value' '(140)-converted value' '(54)-converted value'
 '(66)-converted value' '(89)-converted value' '(52)-converted value'
 '(50)-converted value' '(58)-converted value' '(41)-converted value'
 '(29)-converted value' '(40)-converted value' '(197)-converted value'
 '(217)-converted value' '(290)-converted value' '(3)-converted value']

Non-numeric values in 'PM2.5 Annual mean' column:
['(10)-converted value' '(13)-converted value' '(15)-converted value'
 '(18)-converted value' '(65)-converted value' '(68)-converted value'
 '(59)-converted value' '(45)-converted value' '(61)-converted value'
 '(58)-converted value' '(52)-converted value' '(40)-converted value'
 '(50)-converted value' '(66)-converted value' '(74)-converted value'
 '(46)-converted value' '(63)-converted value' '(62)-converted value'
 '(56)-converted value' '(12)-converted value' '(7)-converted value'
 '(6)-converted value' '(8)-converted value' '(9)-converted value'
 '(14)-converted value' '(11)-converted value' '(17)-converted value'
 '(16)-converted value' '(5)-converted value' '(19)-converted value'
 '(21)-converted value' '(24)-converted value' '(23)-converted value'
 '(27)-converted value' '(26)-converted value' '(22)-converted value'
 '(20)-converted value' '(42)-converted value' '(37)-converted value'
 '(35)-converted value' '(28)-converted value' '(38)-converted value'
 '(31)-converted value' '(29)-converted value' '(25)-converted value'
 '(33)-converted value' '(32)-converted value' '(30)-converted value'
 '(34)-converted value' '(43)-converted value' '(47)-converted value'
 '(39)-converted value' '(36)-converted value' '(77)-converted value'
 '(75)-converted value' '(44)-converted value' '(54)-converted value'
 '(4)-converted value' '(3)-converted value' '(41)-converted value'
 '(64)-converted value' '(57)-converted value' '(104)-converted value'
 '(87)-converted value' '(117)-converted value' '(150)-converted value'
 '(53)-converted value' '(48)-converted value' '(51)-converted value'
 '(82)-converted value' '(102)-converted value' '(116)-converted value'
 '(2)-converted value' '(1)-converted value' '(80)-converted value'
 '(93)-converted value' '(84)-converted value' '(89)-converted value'
 '(106)-converted value' '(96)-converted value' '(170)-converted value'
 '(81)-converted value' '(108)-converted value' '(55)-converted value'
 '(100)-converted value' '(141)-converted value' '(120)-converted value'
 '(119)-converted value' '(123)-converted value' '(49)-converted value'
 '(95)-converted value' '(113)-converted value' '(83)-converted value'
 '(176)-converted value' '(76)-converted value' '(73)-converted value'
 '(114)-converted value' '(90)-converted value' '(122)-converted value'
 '(69)-converted value' '(144)-converted value' '(67)-converted value'
 '(91)-converted value' '(86)-converted value' '(105)-converted value'
 '(85)-converted value' '(60)-converted value' '(71)-converted value'
 '(103)-converted value' '(94)-converted value' '(88)-converted value'
 '(78)-converted value' '(70)-converted value']

### Cleaning the non numerical data in the PM2.5 and 10 annual mean colums
- the ()-converted value" in WHO (World Health Organization) air quality data indicates that the reported air quality measurement has been converted from its original unit to a standardized unit for comparison and analysis purposes.
- the text around the values will be removed as they represent converted values. They were converted to PM2.5 or PM10

In [28]:
# created new colum to place new data in
# use str.replace() to remove any non-digit characters from the "PM2.5 Annual mean" column
air_quality['PM2.5 Annual mean cleaned'] = air_quality['PM2.5 Annual mean'].str.replace(r'\D', '', regex=True)

In [29]:
#check cleaned colum to see if there are any non numeric values
non_numeric_pm25_a = pd.to_numeric(air_quality['PM2.5 Annual mean cleaned'], errors='coerce').isnull().sum()
non_numeric_pm25_a

0

In [34]:
# created new colum to place new data in
# use str.replace() to remove any non-digit characters from the "PM2.5 Annual mean" column
air_quality['PM10 Annual mean cleaned'] = air_quality['PM10 Annual mean'].str.replace(r'\D', '', regex=True)

In [35]:
#check cleaned colum to see if there are any non numeric values
non_numeric_pm10_a = pd.to_numeric(air_quality['PM10 Annual mean cleaned'], errors='coerce').isnull().sum()
non_numeric_pm10_a

0

In [36]:
air_quality.head()

,Region,Country,City/Town,Year,PM10 Annual mean,PM2.5 Annual mean,Number and type of monitoring stations,PM2.5 Annual mean cleaned,PM10 Annual mean cleaned
0,Europe (LMIC),Albania,Korce,2015,45,30,1 Suburban-Background,30,45
1,Europe (LMIC),Albania,Korce,2016,40,29,1 Suburban-Background,29,40
2,Europe (LMIC),Albania,Tirana,2013,32,16,"1 station, traffic, urban",16,32
3,Europe (LMIC),Albania,Vlore,2014,15,(10)-converted value,1 Urban-Background,10,15
4,Europe (LMIC),Albania,Vlore,2015,19,(13)-converted value,1 Urban-Background,13,19

In [37]:
#delete columns
air_quality = air_quality.drop(columns=['PM2.5 Annual mean','PM10 Annual mean'], axis=1)

In [38]:
#results check
air_quality.head()

,Region,Country,City/Town,Year,Number and type of monitoring stations,PM2.5 Annual mean cleaned,PM10 Annual mean cleaned
0,Europe (LMIC),Albania,Korce,2015,1 Suburban-Background,30,45
1,Europe (LMIC),Albania,Korce,2016,1 Suburban-Background,29,40
2,Europe (LMIC),Albania,Tirana,2013,"1 station, traffic, urban",16,32
3,Europe (LMIC),Albania,Vlore,2014,1 Urban-Background,10,15
4,Europe (LMIC),Albania,Vlore,2015,1 Urban-Background,13,19

## 03 Missing Values

In [39]:
# Check for missing values
air_quality.isnull().sum()

Region                                     0
Country                                    0
City/Town                                  0
Year                                       0
Number and type of monitoring stations    68
PM2.5 Annual mean cleaned                  0
PM10 Annual mean cleaned                   0
dtype: int64

In [40]:
#view the missing values in the column
missing_values_station = air_quality[air_quality['Number and type of monitoring stations'].isnull()]

print("Missing values in 'Number and type of monitoring stations' column:")
print(missing_values_station)

Missing values in 'Number and type of monitoring stations' column:
                            Region                     Country  \
11                    Europe (HIC)                     Andorra
68           Western Pacific (HIC)                   Australia
69           Western Pacific (HIC)                   Australia
70           Western Pacific (HIC)                   Australia
71           Western Pacific (HIC)                   Australia
72           Western Pacific (HIC)                   Australia
7168        South-East Asia (LMIC)                       India
7169        South-East Asia (LMIC)                       India
7170        South-East Asia (LMIC)                       India
7171        South-East Asia (LMIC)                       India
7172        South-East Asia (LMIC)                       India
7313        South-East Asia (LMIC)                       India
7366  Eastern Mediterranean (LMIC)  Iran (Islamic Republic of)
7369  Eastern Mediterranean (LMIC)  Iran (Islamic Republic of)
7371  Eastern Mediterranean (LMIC)  Iran (Islamic Republic of)
7372  Eastern Mediterranean (LMIC)  Iran (Islamic Republic of)
7373  Eastern Mediterranean (LMIC)  Iran (Islamic Republic of)
7374  Eastern Mediterranean (LMIC)  Iran (Islamic Republic of)
7375  Eastern Mediterranean (LMIC)  Iran (Islamic Republic of)
7378  Eastern Mediterranean (LMIC)  Iran (Islamic Republic of)
7379  Eastern Mediterranean (LMIC)  Iran (Islamic Republic of)
7380  Eastern Mediterranean (LMIC)  Iran (Islamic Republic of)
7381  Eastern Mediterranean (LMIC)  Iran (Islamic Republic of)
7382  Eastern Mediterranean (LMIC)  Iran (Islamic Republic of)
7386  Eastern Mediterranean (LMIC)  Iran (Islamic Republic of)
7389  Eastern Mediterranean (LMIC)  Iran (Islamic Republic of)
7393  Eastern Mediterranean (LMIC)  Iran (Islamic Republic of)
7394  Eastern Mediterranean (LMIC)  Iran (Islamic Republic of)
7395  Eastern Mediterranean (LMIC)  Iran (Islamic Republic of)
7399  Eastern Mediterranean (LMIC)  Iran (Islamic Republic of)
7400  Eastern Mediterranean (LMIC)  Iran (Islamic Republic of)
7401  Eastern Mediterranean (LMIC)  Iran (Islamic Republic of)
7402  Eastern Mediterranean (LMIC)  Iran (Islamic Republic of)
7403  Eastern Mediterranean (LMIC)  Iran (Islamic Republic of)
7404  Eastern Mediterranean (LMIC)  Iran (Islamic Republic of)
7407  Eastern Mediterranean (LMIC)  Iran (Islamic Republic of)
7408  Eastern Mediterranean (LMIC)  Iran (Islamic Republic of)
7409  Eastern Mediterranean (LMIC)  Iran (Islamic Republic of)
7410  Eastern Mediterranean (LMIC)  Iran (Islamic Republic of)
7411  Eastern Mediterranean (LMIC)  Iran (Islamic Republic of)
7413  Eastern Mediterranean (LMIC)  Iran (Islamic Republic of)
7414  Eastern Mediterranean (LMIC)  Iran (Islamic Republic of)
7415  Eastern Mediterranean (LMIC)  Iran (Islamic Republic of)
7416  Eastern Mediterranean (LMIC)  Iran (Islamic Republic of)
7417  Eastern Mediterranean (LMIC)  Iran (Islamic Republic of)
7418  Eastern Mediterranean (LMIC)  Iran (Islamic Republic of)
7422  Eastern Mediterranean (LMIC)  Iran (Islamic Republic of)
7423  Eastern Mediterranean (LMIC)  Iran (Islamic Republic of)
7424  Eastern Mediterranean (LMIC)  Iran (Islamic Republic of)
7426  Eastern Mediterranean (LMIC)  Iran (Islamic Republic of)
7428  Eastern Mediterranean (LMIC)  Iran (Islamic Republic of)
7430  Eastern Mediterranean (LMIC)  Iran (Islamic Republic of)
7432  Eastern Mediterranean (LMIC)  Iran (Islamic Republic of)
7436  Eastern Mediterranean (LMIC)  Iran (Islamic Republic of)
7437  Eastern Mediterranean (LMIC)  Iran (Islamic Republic of)
7441  Eastern Mediterranean (LMIC)  Iran (Islamic Republic of)
7444  Eastern Mediterranean (LMIC)  Iran (Islamic Republic of)
7446  Eastern Mediterranean (LMIC)  Iran (Islamic Republic of)
7453  Eastern Mediterranean (LMIC)  Iran (Islamic Republic of)
7457  Eastern Mediterranean (LMIC)  Iran (Islamic Republic of)
7459  Eastern Mediterranean (LMIC)  Iran (Islamic Republic of)
7461  Eastern Mediterranean (LMIC)  Iran (Islamic Republic of)
7462  Eastern Mediterranean (LMIC)  Iran (Islamic Republic of)
7464  Eastern Mediterranean (LMIC)  Iran (Islamic Republic of)
7465  Eastern Mediterranean (LMIC)  Iran (Islamic Republic of)
7466  Eastern Mediterranean (LMIC)  Iran (Islamic Republic of)
7467  Eastern Mediterranean (LMIC)                        Iraq
7468  Eastern Mediterranean (LMIC)                        Iraq

               City/Town  Year Number and type of monitoring stations  \
11    Escaldes-Engordany  2017                                    NaN
68              Canberra  2010                                    NaN
69              Canberra  2011                                    NaN
70              Canberra  2012                                    NaN
71              Canberra  2013                                    NaN
72              Canberra  2014                                    NaN
7168               Delhi  2010                                    NaN
7169               Delhi  2011                                    NaN
7170               Delhi  2013                                    NaN
7171               Delhi  2014                                    NaN
7172               Delhi  2015                                    NaN
7313      Vishakhapatnam  2012                                    NaN
7366              Abadan  2016                                    NaN
7369               Ahvaz  2016                                    NaN
7371                Arak  2016                                    NaN
7372           Asad abad  2016                                    NaN
7373            Asalueih  2016                                    NaN
7374         Baghershahr  2016                                    NaN
7375             Birjand  2016                                    NaN
7378            Boujnord  2016                                    NaN
7379           Bourojerd  2016                                    NaN
7380             Bushehr  2016                                    NaN
7381            Dehloran  2016                                    NaN
7382              Dorood  2016                                    NaN
7386          Eslamshshr  2016                                    NaN
7389             Genaveh  2016                                    NaN
7393             Ghazvin  2016                                    NaN
7394                Ghom  2016                                    NaN
7395             Hamadan  2016                                    NaN
7399               Ievan  2016                                    NaN
7400                Ilam  2016                                    NaN
7401             Isfahan  2016                                    NaN
7402        Kabudarahang  2016                                    NaN
7403              Kangan  2016                                    NaN
7404               Karaj  2016                                    NaN
7407              Kerman  2016                                    NaN
7408          Kermanshah  2016                                    NaN
7409         KhominShahr  2016                                    NaN
7410         Khoram abad  2016                                    NaN
7411             Malayer  2016                                    NaN
7413             Mashhad  2016                                    NaN
7414              Mehran  2016                                    NaN
7415            Mobarake  2016                                    NaN
7416            Nahavand  2016                                    NaN
7417           Najafabad  2016                                    NaN
7418           Nazarabad  2016                                    NaN
7422            Pakdasht  2016                                    NaN
7423              Pardis  2016                                    NaN
7424        Pole Dokhtar  2016                                    NaN
7426               Rasht  2016                                    NaN
7428          Robatkarim  2016                                    NaN
7430             Sanndaj  2016                                    NaN
7432         Savegbelagh  2016                                    NaN
7436        Shahre Ghods  2016                                    NaN
7437         Shahre Kord  2016                                    NaN
7441            Shahryar  2016                                    NaN
7444              Shiraz  2016                                    NaN
7446              Tabriz  2016                                    NaN
7453             Uromieh  2016                                    NaN
7457             Varamin  2016                                    NaN
7459               Yasuj  2016                                    NaN
7461                Yazd  2016                                    NaN
7462               Zabol  2016                                    NaN
7464              Zanjan  2016                                    NaN
7465             lavasan  2016                                    NaN
7466         shahinshahr  2016                                    NaN
7467             Baghdad  2015                                    NaN
7468             Baghdad  2016                                    NaN

     PM2.5 Annual mean cleaned PM10 Annual mean cleaned
11                          10                       19
68                           7                       11
69                           6                       10
70                           7                       10
71                           7                       10
72                           7                       10
7168                       141                      261
7169                       120                      222
7170                       119                      221
7171                       116                      215
7172                       123                      228
7313                        35                       65
7366                        32                       74
7369                        58                      132
7371                        31                       71
7372                        32                       73
7373                        55                      126
7374                        46                      105
7375                        15                       35
7378                        28                       64
7379                        17                       38
7380                        46                      105
7381                        44                      100
7382                        22                       51
7386                        32                       73
7389                        56                      129
7393                        21                       49
7394                        35                       81
7395                        27                       61
7399                        37                       85
7400                        34                       79
7401                        30                       68
7402                        21                       47
7403                        42                       96
7404                        30                       68
7407                        26                       60
7408                        32                       73
7409                        28                       64
7410                        33                       75
7411                        23                       53
7413                        30                       69
7414                        44                      102
7415                        28                       65
7416                        20                       45
7417                        29                       67
7418                        31                       71
7422                        33                       75
7423                        15                       34
7424                        27                       62
7426                        21                       47
7428                        28                       63
7430                        28                       64
7432                        32                       72
7436                        38                       87
7437                        61                      140
7441                        38                       87
7444                        24                       56
7446                        26                       60
7453                        24                       54
7457                        36                       83
7459                        29                       66
7461                        36                       83
7462                        50                      115
7464                        16                       36
7465                        25                       57
7466                        39                       89
7467                        85                      208
7468                        74                      179

Missing values were left blank. they are a small part of the dataset

In [10]:
# Check for duplicate rows
air_quality.duplicated().sum()

0

In [41]:
air_quality.describe()

               Year
count  11962.000000
mean    2014.329794
std        1.390003
min     2008.000000
25%     2013.000000
50%     2014.000000
75%     2015.000000
max     2017.000000

In [42]:
#Convert colums into numeric datatypes
air_quality['PM2.5 Annual mean cleaned'] = air_quality['PM2.5 Annual mean cleaned'].astype(float)
air_quality['PM10 Annual mean cleaned'] = air_quality['PM10 Annual mean cleaned'].astype(float)

In [43]:
air_quality.describe()

               Year  PM2.5 Annual mean cleaned  PM10 Annual mean cleaned
count  11962.000000               11962.000000              11962.000000
mean    2014.329794                  18.064120                 30.837987
std        1.390003                  15.653274                 30.217491
min     2008.000000                   1.000000                  1.000000
25%     2013.000000                  10.000000                 17.000000
50%     2014.000000                  14.000000                 21.000000
75%     2015.000000                  20.000000                 31.000000
max     2017.000000                 217.000000                540.000000

In [47]:
air_quality.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11962 entries, 0 to 11961
Data columns (total 7 columns):
 #   Column                                  Non-Null Count  Dtype
---  ------                                  --------------  -----
 0   Region                                  11962 non-null  object
 1   Country                                 11962 non-null  object
 2   City/Town                               11962 non-null  object
 3   Year                                    11962 non-null  int64
 4   Number and type of monitoring stations  11894 non-null  object
 5   PM2.5 Annual mean cleaned               11962 non-null  float64
 6   PM10 Annual mean cleaned                11962 non-null  float64
dtypes: float64(2), int64(1), object(4)
memory usage: 654.3+ KB

In [45]:
#export final cleaned datset 
air_quality.to_pickle(os.path.join(path, 'Data', 'Prepared Data', 'air_quality_cleaned.pkl'))